.header,
.header-nav,
.header-list,
.header-item-list,
.header-title,
.hd-paragraph {
  display: flex;
  background-color: aquamarine;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
}

.header-title {
  text-transform: uppercase;
  font-size: 1.8em;
}

.header-list {
  padding: 0px 30px;
}

.header-item-list,
.header-title {
  padding: 0 10px;
  list-style: none;
}

.nav-link,
.header-item-list,
.header-title {
  text-decoration: none;
}

.hd-paragraph,
.nav-link,
.header-item-list,
.header-title {
  color: #070C15;
}